@import url(https://schnensch0.github.io/ziro/ziro.css);

:root {
    --br-1: 10px;
    --br-2: 8px;
    --scrollbar: unset;
}

/* Change color of navbar top links (Home, Search, Your Library) */
.main-navBar-navBarLinkActive,
.main-collectionLinkButton-selected,
.main-rootlist-rootlistItemLinkActive {
    color: var(--spice-subtext) !important;
}

/* Change color of selected row text */
.main-trackList-selected *{
    color: var(--spice-button) !important; 
}

/* Remove color changing hover on homepage */
.n87ifzfQlmGX8vkeYGDL {
    background-color: var(--spice-shadow)  !important; 
}

/* Change color of playlist card subtext and sidebar arrow expanders */
.encore-dark-theme,
.encore-dark-theme .encore-base-set {
    --text-subdued: var(--spice-button); 
}

/* Change color of liked heart icon */
.main-addButton-button.main-trackList-rowHeartButton.main-addButton-active {
    color: #ff0008; /* red hearts */
}

/* Change color of Main Play button SVG */
.gHYQaG {
    color: var(--spice-button-disabled);
}

/* Change color of Add Collaborator SVG button */
.X1lXSiVj0pzhQCUo_72A {
    color: var(--spice-button);
}

/* Change color of little buttons in Now Playing Bar */
button.control-button, button.hyWUsx {
    color: var(--spice-text);
}

/* Change hover color of little buttons in Now Playing Bar */
button.control-button:hover, button.hyWUsx:hover {
    color: var(--spice-subtext);
}

/* Change color of Now Playing Bar Play button background */
.vnCew8qzJq3cVGlYFXRI  {
    background-color: var(--spice-button-disabled);
}

/* Fix position of playback timer components - Time Elapsed */
.playback-bar__progress-time-elapsed,
.main-playbackBarRemainingTime-container {
    color: var(--spice-subtext);
    position: absolute;
    margin-bottom: 30px;
    right: 306px;  /* position offset of elapsed timer */
}

/* Fix position of playback timer components - Duration */
.Type__TypeElement-goli3j-0.cpSTHq.npFSJSO1wsu3mEEGb5bh {
    position: absolute;
    right: 264px; /* position offset of duration timer*/
    margin-bottom: 30px;
    color: var(--spice-subtext); 
}

/* Fix overlapping playback timer and playback buttons with narrow window size */
@media screen and (max-width: 980px) {
    .main-nowPlayingBar-center {
        display: flex;
    }
 }