@import url(https://schnensch0.github.io/ziro/ziro.css);

:root {
    --br-1: 10px;
    --br-2: 8px;
    --scrollbar: unset;
}

/* Remove color changing hover on homepage */
.n87ifzfQlmGX8vkeYGDL {
    background-color: var(--spice-shadow)  !important; 
}

/* Change color of navbar top links (Home, Search, Your Library) */
.main-navBar-navBarItem ,
.main-navBar-navBarLink,
.main-navBar-navBarLinkActive,
.main-collectionLinkButton-selected,
.main-rootlist-rootlistItemLinkActive {
    color: var(--spice-text) !important;
}

/* Change color of liked heart icon */
.main-addButton-button, 
.main-trackList-rowHeartButton,
.main-addButton-active {
    color: var(--spice-text); /* green hearts */
}

/* SVGs */
.encore-light-theme,
.uPxdw {
    color: var(--spice-text);
}

/* Text color of popup  */
.encore-light-theme {
    --text-base: var(--spice-text);
}

/* Change color of selected row text */
.main-trackList-selected *{
    color: var(--spice-button) !important; 
}

/* Change color of playlist card subtext and sidebar arrow expanders */
.encore-dark-theme,
.encore-dark-theme.encore-base-set {
    --text-subdued: var(--spice-button); 
}

/* Edit playlist Save Button */
.iPIgLs {
    background: var(--spice-button);
}

/* Edit playlist Save Button (HOVER) */
.fOayXK:hover .ButtonInner-sc-14ud5tc-0 {
    background: var(--spice-button-active);
}

/* Now Playing Bar Play button background */
.main-playPauseButton-button {
    background-color: var(--spice-subtext);
}

/* Fix position of playback timer components - Duration */
.Type__TypeElement-goli3j-0.cpSTHq.npFSJSO1wsu3mEEGb5bh {
    position: absolute;
    right: 264px; /* position offset of duration timer*/
    margin-bottom: 30px;
    color: var(--spice-subtext); 
}

/* Fix overlapping playback timer and playback buttons with narrow window size */
@media screen and (max-width: 980px) {
    .main-nowPlayingBar-center {
        display: flex;
    }
 }
